node_modules/electron filter=lfs diff=lfs merge=lfs -text
node_modules/electron/* filter=lfs diff=lfs merge=lfs -text
node_modules/electron/checksums.json filter=lfs diff=lfs merge=lfs -text
node_modules/electron/dist filter=lfs diff=lfs merge=lfs -text
node_modules/electron/electron.d.ts filter=lfs diff=lfs merge=lfs -text
node_modules/electron/index.js filter=lfs diff=lfs merge=lfs -text
node_modules/electron/install.js filter=lfs diff=lfs merge=lfs -text
node_modules/electron/README.md filter=lfs diff=lfs merge=lfs -text
node_modules/electron/cli.js filter=lfs diff=lfs merge=lfs -text
node_modules/electron/package.json filter=lfs diff=lfs merge=lfs -text
node_modules/electron/path.txt filter=lfs diff=lfs merge=lfs -text
node_modules/electron/dist/Electron filter=lfs diff=lfs merge=lfs -text
node_modules/electron/dist/Electron/** filter=lfs diff=lfs merge=lfs -text
node_modules/electron/dist/Electron/ filter=lfs diff=lfs merge=lfs -text
node_modules/electron/dist/Electron/Contents filter=lfs diff=lfs merge=lfs -text
node_modules/electron/dist/Electron/Contents/Frameworks/Electron filter=lfs diff=lfs merge=lfs -text
Framework.framework/Electron filter=lfs diff=lfs merge=lfs -text
Framework filter=lfs diff=lfs merge=lfs -text
node_modules/electron/dist/Electron/Contents/Frameworks/Electron[[:space:]]Framework.framework/Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
node_modules/electron/dist/Electron/Contents/Frameworks/Electron[[:space:]]Framework.framework/Versions filter=lfs diff=lfs merge=lfs -text
/Users/Quincy/ElectronTextEdditor/node_modules/electron filter=lfs diff=lfs merge=lfs -text
*.app filter=lfs diff=lfs merge=lfs -text
Electron.app filter=lfs diff=lfs merge=lfs -text
node_modules/electron/dist/Electron.app filter=lfs diff=lfs merge=lfs -text
